
<form method="get" action="/quizzes" >
	Buscador de preguntas:      
  	<input type="text" name="search" value="" placeholder=""/>
  	<input type="submit" value="Enviar"/>
</form>
<table>
  <% for (var i in quizzes) { %>
    <tr>
      <td>
        <a href="/quizzes/<%= quizzes[i].id %>"> <%= quizzes[i].question %></a>
      </td>
    </tr>
  <% } %>
</table>
